@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Animation fluide pour le changement de page */
@keyframes fadeSlideUp {
  from { 
    opacity: 0; 
    transform: translateY(15px) scale(0.99); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0) scale(1); 
  }
}

.page-transition {
  animation: fadeSlideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}